/* Styles for the Card Component */
.card-component {
  border-radius: 4px;
  height: 100%;
  padding: 16px;
  font-weight: 700;
}

/* Keep adding the colors of the background colors */
.card-component-background-1 {
  background-color: #0079bf;
  color: white;
}

.card-component-background-2 {
  background-color: #cd5a91;
  color: white;
}

.card-component-background-3 {
  background-color: #89609e;
  color: white;
}

.card-component-background-4 {
  background-color: white;
  color: black;
}

/* Styles for the Types of Cards */
.normal-card {
  display: flex;
  align-items: center;
}

.image-card {
  background-image: url("/modalBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
